# Node.js
node_modules/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Java
target/
*.log
*.class
.classpath
.project
.settings/

# Maven
.mvn/
.settings/
/target/
.classpath
.project

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# VS Code
.vscode/
